
    <h1><%= `${form.firstName} ${form.lastName}'s application` %></h1>
    <ul>
      <li>Category: <%= form.category %></li>
      <li>Message: <%= form.message %></li>
    </ul>
    <a href="/forms">All forms</a>
 
